<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ficha clinica</title>
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
  <h3><%= image_tag wicked_pdf_asset_base64('LOGOS STUKA PEQUEÑO') %>  <strong>Ficha de Veterinario<strong></h3>

</head>
<body>
  <br>
    <p>
        <strong>Número de folio:</strong>
        41<%= @veterinario.id %><br>
        <strong>ID Veterinario:</strong><%= @veterinario.id%>
    </p>

    <p>
        <strong>Nombre:</strong>
        <%= @veterinario.nombre %>
    </p>

    <p>
        <strong>Sexo:</strong>
        <%= @veterinario.sexo %>
    </p>

    <p>
        <strong>Fecha nacimiento:</strong>
        <%= @veterinario.fecha_nacimiento %>
    </p>

    <p>
        <strong>Rut:</strong>
        <%= @veterinario.rut %>
    </p>

    <p>
        <strong>Email:</strong>
        <%= @veterinario.email %>
    </p>

    <p>
        <strong>Telefono:</strong>
        <%= @veterinario.telefono %>
    </p>

    <p>
        <strong>Tipo:</strong>
        <%= @veterinario.tipo %>
    </p>

    <p>
        <strong>Tipo de estudios:</strong>
        <%= @veterinario.tipo_estudios %>
    </p>

    <p>
        <strong>Especialidad:</strong>
        <%= @veterinario.especialidad %>
    </p>

    <h3><strong>Pacientes</strong></h3>
    <br>

    <p>
        <strong>Perros:</strong>
        <% perros = Perro.where(veterinario_id: @veterinario.id) %>
        <ul>
        <% perros.each do |perro| %>
            <li>
            <%= perro.nombre%>
            </li>
        <%end%>
        </ul>
    </p>

    <p>
        <strong>gatos:</strong>
        <% gatos = Gato.where(veterinario_id: @veterinario.id) %>
        <ul>
        <% gatos.each do |gato| %>
            <li>
            <%= gato.nombre%>
            </li>
        <%end%>
        </ul>
    </p>


</body>
</html>
