<%= form_with(model: perro, local: true) do |f| %>
  <% if perro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perro.errors.count, "error") %> prohibited this perro from being saved:</h2>

      <ul>
      <% perro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, id: :perro_nombre %>
  </div>

  <div class="field">
    <%= f.label :edad %>
    <%= f.number_field :edad, id: :perro_edad %>[Años]
  </div>

  <div class="field">
    <%= f.label :sexo %>
    <%= f.select :sexo, ['Macho','Hembra']%>
  </div>

  <div class="field">
    <%= f.label :raza %>
    <%= f.text_field :raza, id: :perro_raza %>
  </div>

  <div class="field">
      <%= f.label :tipo %>
      <%= f.select :tipo, ['Domestico','Callejero','Salvaje']%>
  </div>

  <div class="field">
    <%= f.label :peso %>
    <%= f.number_field :peso, id: :perro_peso %>[Kg]
  </div>

  <div class="field">
      <% f.label :porte %>Tamaño
      <%= f.select :porte, ['Pequeño','Mediano','Grande']%>
  </div>

  <div class="field">
    <% f.label :chip %>Origen del chip
    <%= f.select :chip, ['Viene con un chip ','Se le instalara el chip'] %>
  </div>

  <div class="field">
    <%= f.label :numero_chip %>
    <%= f.number_field :numero_chip, id: :perro_numero_chip %>
  </div>

  <div class="field">
      <% f.label :agresividad %>Nivel de agresividad
      <%= f.select :agresividad   , ['Nula','Nervioso','Agresivo','Violento'] %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color, id: :perro_color %>
  </div>

  <div class="field">
    <% f.label :senas %>Señas<br>
    <%= f.text_area :senas, id: :perro_senas %>
  </div>

  <div class="field">
    <%= f.label :comentario %><br>
    <%= f.text_area :comentario, id: :perro_comentario %>
  </div>

  <div class="field">
    <% f.label :ficha_id %>Propietario
    <%= f.collection_select :ficha_id , Ficha.order(:nombre), :id, :nombre  %>
  </div>

    <h4><strong>Vacunas</strong></h4><br>

  <div id="vacunas" >
      <div class="vacunas-fields">
      <%= f.fields_for :vacunas do |vacuna| %>
          <%= render "vacunas_fields", f: vacuna %>
      <% end %>
      </div>
  </div>

  <strong>
      <div class="links">
      <%= link_to_add_association 'Añadir Vacuna', f, :vacunas,
      'data-association-insertion-node' =>  '.vacunas-fields',
      'data-association-insertion-method' => 'append', :class => 'btn_regular',
      partial: 'vacunas_fields' %>
      </div>
  </strong><br>

  <h4><strong>Enfermedades previas</strong></h4><br>

  <div id="enfermedades" >
      <div class="enfermedades-fields">
      <%= f.fields_for :enfermedades do |enfermedad| %>
          <%= render "enfermedades_fields", f: enfermedad %>
      <% end %>
      </div>
  </div>

  <strong>
      <div class="links">
      <%= link_to_add_association 'Añadir Enfermedad', f, :enfermedades,
      'data-association-insertion-node' =>  '.enfermedades-fields',
      'data-association-insertion-method' => 'append', :class => 'btn_regular',
      partial: 'enfermedades_fields' %>
      </div>
  </strong><br>

<h4><strong>Datos de operación</strong></h4><br>

    <div class="field"><br>
      <% f.label :apto_cirujia %><strong>Perro apto para la cirujía</strong>
      <%= f.select :apto_cirujia   , ['Si','No'] %><br>
      <% f.label :apto_cirujia_text %><strong>Razón:</strong>(Opcional) <br>
      <%= f.text_area :apto_cirujia_text, id: :gato_cirujia_text %>
    </div>  
    
    <div class="field">
      <%= f.label :veterinario_id %>
      <%= f.collection_select :veterinario_id, Veterinario.order(:nombre), :id, :nombre  %>
    </div>

    <div class="field">
      <%= f.label :hora_ingreso %> (formato de 24Hrs)
      <%= f.time_field :hora_ingreso, id: :perro_hora_ingreso%>
    </div>

    <div class="field">
      <%if f.object.sexo == 'Macho' %>
        <%= f.label :tipo_cirujia %>
        <%= f.select :tipo_cirujia , ['Orquiectomía bilateral','Orquiectomía unilateral','Orquiectomía unilateral, extración abdominal'] %>
      <%end%>
      <%if f.object.sexo == 'Hembra'%>
        <%= f.label :tipo_cirujia %>
        <%= f.select :tipo_cirujia , ['OVH','OH'] %>
      <%end%>
    </div>

    <div class="field">
      <% f.label :hallazgos %><strong>Hallazgos durante operación</strong><br>
      <%= f.text_area :hallazgos, id: :perro_hallazgos%>
    </div>

    <div class="field">
      <%= f.label :hora_alta %> (formato de 24Hrs)
      <%= f.time_field :hora_alta, id: :perro_hora_alta%>
    </div>

    <div class="field">
      <% f.label :complicaciones %><strong>Complicaciones durante operación</strong><br>
      <%= f.text_area :complicaciones, id: :perro_complicaciones%>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
