<p id="notice"><%= notice %></p>

<h1>Perros</h1>
<%= link_to 'New Perro', new_perro_path %>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Raza</th>
      <th>Tipo</th>
      <th>Peso</th>
      <th>Porte</th>
      <th>Chip</th>
      <th>Numero chip</th>
      <th>Agresividad</th>
      <th>Propietario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perros.each do |perro| %>
      <tr>
        <td><%= perro.nombre %></td>
        <td><%= perro.edad %></td>
        <td><%= perro.sexo %></td>
        <td><%= perro.raza %></td>
        <td><%= perro.tipo%></td>
        <td><%= perro.peso %></td>
        <td><%= perro.porte %></td>
        <td><%= perro.chip %></td>
        <td><%= perro.numero_chip %></td>
        <td><%= perro.agresividad %></td>
        <td><%= perro.ficha.nombre %></td>
        <td><%= link_to 'Show', perro, :remote=>true %></td>
        <td><%= link_to 'Edit', edit_perro_path(perro) %></td>
        <td><%= link_to 'Destroy', perro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', fichas_path %>

<div id ="new-perro" style = "display:noone;"></div>
<div id ="edit-perro" style = "display:noone;"></div>
<div id ="show-perro" style = "display:noone;"></div>