<p id="notice"><%= notice %></p>

<h1>Documentos</h1><br>

<%= link_to new_documento_path  do%>
  <i class=" glyphicon glyphicon-plus-sign"><strong>Nuevo documento</strong></i>
<%end%><br><br>



<div class="table-responsive">
  <table class="table-bordered" id="tabla-documentos">
    <thead class="thead-dark">
        <i class="glyphicon glyphicon-search"><strong>Buscar</strong>
      <p>
        <input type="text" class="form-control" id="tabla-documentos-filter" data-action="filter" data-filters="#tabla-documentos" placeholder="Ingrese parametro"/>
      </p>
    </i>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>File</th>
        <th>Link</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @documentos.each do |documento| %>
      <% txt = documento.link%>
        <tr>
          <td><%= documento.nombre %></td>
          <td><%= documento.tipo %></td>
          <td><%= link_to 'Descargar', documento.file_url(documento) %></td>
          <td><%= link_to 'Abrir', txt %> </td>
          <td><%= link_to 'Edit', edit_documento_path(documento) %></td>
          <td><%= link_to 'Destroy', documento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
