<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Propietario</Data></Cell>
        <Cell><Data ss:Type="String">Tipo</Data></Cell>
        <Cell><Data ss:Type="String">Edad</Data></Cell>
        <Cell><Data ss:Type="String">Sexo</Data></Cell>
        <Cell><Data ss:Type="String">Rut</Data></Cell>
        <Cell><Data ss:Type="String">Telefono</Data></Cell>
        <Cell><Data ss:Type="String">Direccion</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Perros</Data></Cell>
        <Cell><Data ss:Type="String">Gatos</Data></Cell>
        <Cell><Data ss:Type="String">Se entero por</Data></Cell>
      </Row>

        <% @fichas.each do |ficha| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= ficha.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ficha.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ficha.tipo %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ficha.edad %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ficha.sexo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ficha.rut %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ficha.telefono %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ficha.direccion%>, <%=ficha.comuna%></Data></Cell>
        <Cell><Data ss:Type="String"><%= ficha.email %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ficha.perros.count %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ficha.gatos.count %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ficha.medio_encuentro %>,<%= ficha.medio_encuentro_text%></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

 
  
  

