<%= form_with(model: gato, local: true) do |form| %>
  <% if gato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gato.errors.count, "error") %> prohibited this gato from being saved:</h2>

      <ul>
      <% gato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :gato_nombre %>
  </div>

  <div class="field">
    <%= form.label :edad %>
    <%= form.number_field :edad, id: :gato_edad %>[A単os]
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.select :sexo, ['Macho','Hembra']%>
  </div>

  <div class="field">
    <%= form.label :raza %>
    <%= form.text_field :raza, id: :gato_raza %>
  </div>


  <div class="field">
      <%= form.label :tipo %>
      <%= form.select :tipo, ['Domestico','Callejero','Salvaje']%>
  </div>

  <div class="field">
    <%= form.label :peso %>
    <%= form.number_field :peso, id: :gato_peso %>[Kg]
  </div>

  <div class="field">
      <% form.label :porte %>Tama単o
      <%= form.select :porte, ['Peque単o','Mediano','Grande']%>
  </div>

  <div class="field">
    <% form.label :chip %>Origen del chip
    <%= form.select :chip, ['Viene con un chip ','Se le instalara el chip'] %>
  </div>

  <div class="field">
    <%= form.label :numero_chip %>
    <%= form.number_field :numero_chip, id: :gato_numero_chip %>
  </div>

  <div class="field">
      <% form.label :agresividad %>Nivel de agresividad
      <%= form.select :agresividad   , ['Nula','Nervioso','Agresivo','Violento'] %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :gato_color %>
  </div>

  <div class="field">
    <% form.label :senas %>Se単as<br>
    <%= form.text_area :senas, id: :gato_senas %>
  </div>

  <div class="field"><br>
    <%= form.label :comentario %><br>
    <%= form.text_area :comentario, id: :gato_comentario %>
  </div>

  <div class="field">
    <% form.label :ficha_id %>Propietario
    <%= form.collection_select :ficha_id , Ficha.order(:nombre), :id, :nombre  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
