<%= form_with(model: gato, local: true) do |form| %>
  <% if gato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gato.errors.count, "error") %> prohibited this gato from being saved:</h2>

      <ul>
      <% gato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :gato_nombre %>
  </div>

  <div class="field">
    <%= form.label :numero_serie %>
    <%= form.text_field :numero_serie, id: :gato_numero_serie %>
  </div>

  <div class="field">
    <%= form.label :propietario %>
    <%= form.text_field :propietario, id: :gato_propietario %>
  </div>

  <div class="field">
    <%= form.label :raza %>
    <%= form.text_field :raza, id: :gato_raza %>
  </div>

  <div class="field">
    <%= form.label :peso %>
    <%= form.text_field :peso, id: :gato_peso %>
  </div>

  <div class="field">
    <%= form.label :tamaño %>
    <%= form.text_field :tamaño, id: :gato_tamaño %>
  </div>

  <div class="field">
    <%= form.label :senas %>
    <%= form.text_area :senas, id: :gato_senas %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario, id: :gato_comentario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
