<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Edad</Data></Cell>
        <Cell><Data ss:Type="String">Sexo</Data></Cell>
        <Cell><Data ss:Type="String">Raza</Data></Cell>
        <Cell><Data ss:Type="String">Tipo</Data></Cell>
        <Cell><Data ss:Type="String">Peso</Data></Cell>
        <Cell><Data ss:Type="String">Porte</Data></Cell>
        <Cell><Data ss:Type="String">Chip</Data></Cell>
        <Cell><Data ss:Type="String">Numero chip</Data></Cell>
        <Cell><Data ss:Type="String">Agresividad</Data></Cell>
        <Cell><Data ss:Type="String">Vacunas</Data></Cell>
        <Cell><Data ss:Type="String">Enfermedades</Data></Cell>
        <Cell><Data ss:Type="String">Propietario</Data></Cell>
        <Cell><Data ss:Type="String">Apto operación</Data></Cell>
        <Cell><Data ss:Type="String">Veterinario</Data></Cell>
        <Cell><Data ss:Type="String">Tipo cirugía</Data></Cell>
        <Cell><Data ss:Type="String">Hora ingreso</Data></Cell>
        <Cell><Data ss:Type="String">Hora alta</Data></Cell>
        <Cell><Data ss:Type="String">Medicamentos</Data></Cell>
      </Row>

        <% @gatos.each do |gato| %>
            <% vet = Veterinario.where(id: gato.veterinario_id).first %>
      <Row>
        <Cell><Data ss:Type="Number"><%= gato.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.nombre %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= gato.edad %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.sexo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.raza %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.tipo %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= gato.peso %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.porte %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.chip %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= gato.numero_chip %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.agresividad %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= gato.vacunas.count %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= gato.enfermedades.count %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.ficha.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.apto_cirujia%></Data></Cell>
        <Cell><Data ss:Type="String"><% if vet != nil %><%= vet.nombre %><%end%></Data></Cell>
        <Cell><Data ss:Type="String"><%= gato.tipo_cirujia%></Data></Cell>
        <Cell><Data ss:Type="String"><%if gato.hora_ingreso != nil %><%= gato.hora_ingreso.strftime("%H:%M") %><%end%></Data></Cell>
        <Cell><Data ss:Type="String"><%if gato.hora_alta != nil %><%= gato.hora_alta.strftime("%H:%M") %><%end%></Data></Cell>
        <Cell><Data ss:Type="Number"><%= gato.medicamentos.count %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

 
  
  

