<p id="notice"><%= notice %></p>

<h3>Fichas de Gatos</h3><br>

<%= link_to new_gato_path do%>
  <i class=" glyphicon glyphicon-plus-sign  "><strong>Agregar gato</strong></i>
<%end%>

<br><br>

<div class="table-responsive">
  <table class="table-bordered" id="tabla-gatos">
    <thead class="thead-dark">
      <i class="glyphicon glyphicon-search"><strong>Buscar</strong>
        <p>
          <input type="text" class="form-control" id="tabla-gatos-filter" data-action="filter" data-filters="#tabla-gatos" placeholder="Ingrese parametro"/>
        </p>
      </i>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Raza</th>
        <th>Tipo</th>
        <th>Peso</th>
        <th>Porte</th>
        <th>Chip</th>
        <th>Numero chip</th>
        <th>Agresividad</th>
        <th>Vacunas</th>
        <th>Enfermedades</th>
        <th>Propietario</th>
        <th>Apto operación</th>
        <th>Veterinario </th>
        <th>Tipo cirugía</th>
        <th>Fecha cirugía</th>
        <th>Hora ingreso</th>
        <th>Hora alta</th>
        <th>Medicamentos</th>
        <th colspan="3"></th>
        <th>Ficha</th>
        <th>Receta</th>
        <th>Certificado</th>
      </tr>
    </thead>

    <tbody>
      <% @gatos.each do |gato| %>
        <tr>
          <td><%= link_to  gato.nombre, gato, :remote=>true %></td>
          <td><%= gato.edad %>[<%= gato.formato_edad %>]</td>
          <td><%= gato.sexo %></td>
          <td><%= gato.raza %></td>
          <td><%= gato.tipo %></td>
          <td><%= gato.peso %></td>
          <td><%= gato.porte %></td>
          <td><%= gato.chip %></td>
          <td><%= gato.numero_chip %></td>
          <td><%= gato.agresividad %></td>
          <td><%= gato.vacunas.count %></td>
          <td><%= gato.enfermedades.count %></td>
          <td><%= gato.ficha.nombre %></td>
          <td><%= gato.apto_cirujia%></td>
          <td>
            <% vet = Veterinario.where(id: gato.veterinario_id).first %>
              <% if vet != nil %>
                <%=  vet.nombre %>
              <%end%>
          </td>
          <td><%= gato.tipo_cirujia%></td>
          <td><%= gato.fecha_operacion%></td>
        <td>
                <%if gato.hora_ingreso != nil %>
                  <%= gato.hora_ingreso.strftime("%H:%M") %>
                <%end%>
          </td>
          <td>
                <%if gato.hora_alta != nil %>
                  <%= gato.hora_alta.strftime("%H:%M") %>
                <%end%>
          </td>
          <td><%= gato.medicamentos.count %></td>
          <td><%= link_to  gato, :remote=>true do%><i class="glyphicon glyphicon-eye-open"></i><%end%></td>
          <td><%= link_to  edit_gato_path(gato) do%><i class="glyphicon glyphicon-edit"></i><%end%></td>
          <td><%= link_to  gato, method: :delete, data: { confirm: 'Are you sure?' } do%><i class="glyphicon glyphicon-remove"></i><%end%></td>
          <td>
            <%= link_to  gato_path(gato,format: :pdf) do%>
              <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-print"></span> Print
              </button>
            <%end%>
          </td>
          <td>
            <%= link_to  gato_receta_path(gato,format: :pdf) do%>
              <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-print"></span> Print
              </button>
            <%end%>
          </td>
          <td>
            <%= link_to  gato_certificado_path(gato.id,format: :pdf) do%>
              <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-print"></span> Print
              </button>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


<strong>Total gatos:</strong><%= Gato.count%><br>
<br>

<p>
  Descargar:
  <%= link_to "CSV", gatos_path(format: "csv") %> |
  <%= link_to "Excel", gatos_path(format: "xls") %>
</p>

<%= link_to 'Volver', fichas_path %>

<div id ="new-gato" style = "display:noone;"></div>
<div id ="edit-gato" style = "display:noone;"></div>
<div id ="show-gato" style = "display:noone;"></div>
