<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @gato.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @gato.edad %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @gato.sexo %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @gato.raza %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @gato.peso %>
</p>

<p>
  <strong>Porte:</strong>
  <%= @gato.porte %>
</p>

<p>
  <strong>Chip:</strong>
  <%= @gato.chip %>
</p>

<p>
  <strong>Numero chip:</strong>
  <%= @gato.numero_chip %>
</p>

<p>
  <strong>Agresividad:</strong>
  <%= @gato.agresividad %>
</p>

<p>
  <strong>Color:</strong>
  <%= @gato.color %>
</p>

<p>
  <strong>Senas:</strong>
  <%= @gato.senas %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @gato.comentario %>
</p>

<p>
  <strong>Ficha:</strong>
  <%= @gato.ficha %>
</p>

<%= link_to 'Create PDF document', gato(@gato, :format => :pdf)%>

<%= link_to 'Edit', edit_gato_path(@gato) %> |
<%= link_to 'Back', gatos_path %>
